<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a78c7693-534a-4a5c-8b80-866261b06803/resourceGroups/shoesoncontainersrg/providers/Microsoft.ContainerRegistry/registries/registry20180823063110</ResourceId>
    <ResourceName>registry20180823063110</ResourceName>
    <ResourceGroup>shoesoncontainersrg</ResourceGroup>
    <Subscription>Microsoft Azure Sponsorship</Subscription>
    <RegistryUrl>https://registry20180823063110.azurecr.io/</RegistryUrl>
    <UserName>registry20180823063110</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>34c23807-2e00-4b7c-bbb5-a65315e01936</ProjectGuid>
  </PropertyGroup>
</Project>